.about__inner {
  display: flex;
  align-items: start;
  gap: 50px;
}

.about__list {
  max-width: 320px;
  width: 100%;
  padding: 32px;
  background-color: #f4f6f7;
  border-radius: 8px;
}

.about__list-item:not(:last-child) {
  margin-bottom: 15px;
}

.about__list-title {
  display: block;
  font-size: 20px;
  margin-bottom: 15px;
}

.about__item:not(:last-child) {
  margin-bottom: 5px;
}

.about__main-title {
  display: block;
  font-size: 24px;
  line-height: 1.75rem;
  margin-bottom: 24px;
}

.about__content-item:not(:last-child) {
  margin-bottom: 15px;
}

.about__content-title {
  display: block;
  font-size: 20px;
  line-height: 1.25;
  margin-bottom: 15px;
}

.about__link {
  padding-bottom: 1px;
  position: relative;
}

.about__link::before {
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 1px;
  background-color: #666;
  bottom: 0;
  left: auto;
  right: 0;
  transition: width 0.5s ease;
}

.about__link:hover::before {
  right: auto;
  left: 0;
  width: 100%;
}