.cart .breadcrumb {
  margin-bottom: 24px;
}

.cart__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  text-align: center;
}

.cart__title {
  font-size: 24px;
  font-weight: 700;
}

.cart__link {
  max-width: 250px;
  width: 100%;
  text-align: center;
}

@media (max-width: 768px) {
  .cart__empty {
    align-items: start;
    text-align: left;
    gap: 5px;
  }
}