.categories__promo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.categories__elem {
  border-radius: 30px;
  overflow: hidden;
}

.categories__elem:first-child {
  grid-column: 1/3;
  grid-row: 1/-1;
}

@media (max-width: 1400px) {
  .categories__promo {
    gap: 15px;
  }
}

@media (max-width: 1200px) {
  .categories__promo {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 630px) {
  .categories__promo {
    grid-template-columns: repeat(1, 1fr);
  }

  .categories__elem:first-child {
    grid-column: 1/1;
  }
}
