.filterbar__head {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-bottom: 1px solid rgb(216, 219, 222);
  display: none;
}

.filterbar__head-title {
  font-size: 24px;
  font-weight: 700;
}

.filterbar__close {
  position: relative;
  width: 44px;
  height: 44px;
}

.filterbar__close::before,
.filterbar__close::after {
  content: '';
  position: absolute;
  display: block;
  height: 2px;
  width: 30px;
  border-radius: 2px;
  background-color: #333;
  top: 50%;
  left: 50%;
}

.filterbar__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.filterbar__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.filterbar__title {
  display: block;
  font-size: 20px;
  font-weight: 700;
  padding: 0 10px 0 10px;
  margin-bottom: 25px;
}

.filterbar__list {
  margin-bottom: 25px;
}

.filterbar__item:last-child .filterbar__btn {
  border-bottom: none;
}

.filterbar__btn {
  display: flex;
  text-align: left;
  align-items: center;
  gap: 5px;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  width: 100%;
  background-color: #f1f3f4;
  line-height: 19px;
  position: relative;
  padding-left: 25px;
  padding-right: 40px;
}

.filterbar__btn.empty::before {
  display: none;
}

.filterbar__btn::before {
  content: '';
  position: absolute;
  display: block;
  background-image: url('../asset/icons/down-arrow.svg');
  width: 13px;
  height: 13px;
  top: 50%;
  top: 50%;
  right: 15px;
  transform: translateY(-50%) rotate(-90deg);
  transition: transform 0.5s ease;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.filterbar__btn.active::before {
  transform: translateY(-50%);
}

.filterbar__accordion {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  opacity: 0;
  padding: 0 24px 0;
  transition: grid-template-rows 0.3s ease, opacity 0.3s ease, padding 0.3s ease;
}

.filterbar__accordion.active {
  opacity: 1;
  grid-template-rows: 1fr;
  padding: 0 32px 15px;
}

.filterbar__accordion-item:not(:last-child) {
  margin-bottom: 5px;
}

.filterbar__accordion-item {
  font-size: 16px;
  padding-left: 18px;
  position: relative;
}

.filterbar__accordion-item::before {
  content: '';
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #77ab1a;
  border-radius: 50%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.filterbar__accordion-item a:hover {
  color: inherit;
}

.filterbar__elements {
  padding-bottom: 25px;
}

.filterbar__element label {
  display: flex;
  gap: 10px;
}

.filterbar__element:not(:last-child) {
  margin-bottom: 15px;
}

.filterbar__element-checkbox {
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  border: 0.0625rem solid #d8dbde;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  position: relative;
}

.filterbar__element-checkbox::before {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-image: url('../asset/icons/check-mark.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 3;
}

.filterbar__checkbox:checked + .filterbar__element-checkbox {
  background-color: #77ab1a;
  border-color: transparent;
}

@media (max-width: 992px) {
  .filterbar {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(100%);
    opacity: 0;
    background-color: #fff;
    z-index: 5;
    max-width: 100%;
    overflow-y: auto;
    height: 100dvh;
    overflow-y: auto;
    transition: transform 0.5s ease, opacity 0.3s ease;
  }

  .filterbar.active {
    transform: translateX(0);
    opacity: 1;
  }

  .filterbar__head {
    display: flex;
  }

  .filterbar__components {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 0 30px;
  }

  .filterbar__component:first-child {
    width: 100%;
  }

  .filterbar__title {
    padding-left: 0;
  }
}