.footer__top {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 48px 0;
  border-bottom: 1px solid #d8dbde;
}

.footer__top-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  max-width: 600px;
  width: 100%;
}

.footer__items--contacts .footer__item:not(:last-child) {
  margin-bottom: 5px;
}

.footer__items--contacts .footer__item:not(:first-child) .footer__link,
.footer__items--contacts .footer__item:not(:first-child) {
  font-weight: 500;
}

.footer__item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer__title {
  display: block;
  margin: 0 0 10px;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 700;
}

.footer__link {
  line-height: 2;
  font-weight: 300;
  font-size: 14px;
  transition: color 0.5s ease;
}

.footer__link:hover {
  color: #e95c48;
}

.footer__link--phone {
  line-height: 1;
}

.footer__address {
  font-style: normal;
}

.footer__cards {
  margin-top: 15px;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 24px 0;
}

.footer__copyright {
  font-size: 14px;
}

.footer__powered {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 992px) {
  .footer__list {
    max-width: 460px;
  }

  .footer__elem:nth-child(2) {
    order: 1;
  }
}

@media (max-width: 680px) {
  .footer__top,
  .footer__list {
    flex-wrap: wrap;
  }

  .footer__top {
    padding: 24px 0;
  }
}

@media (max-width: 480px) {
  .footer__top .logo {
    padding-bottom: 20px;
    border-bottom: 1px solid #d8dbde;
  }
  
  .footer__bottom {
    flex-wrap: wrap;
  }

  .footer__powered {
    order: 1;
  }
}
