.footer__top {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 88px 0;
  border-bottom: 1px solid #d8dbde;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  max-width: 640px;
  width: 100%;
}

.footer__name {
  display: block;
  margin: 0 0 1.25rem;
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 700;
}

.footer__link {
  line-height: 2;
  font-weight: 300;
  font-size: 0.875rem;
  transition: color 0.5s ease;
}

.footer__link:hover {
  color: #e95c48;
}

.footer__cards {
  margin-top: 15px;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  padding: 24px 0 48px;
}

.footer__copyright {
  font-size: 14px;
}

.footer__powered {
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}