html,
body {
  height: 100%;
}

#__next {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  padding-top: 148px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  font-family: 'Onest', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: #231f20;
  background-color: #fff;
}

.body {
  flex-grow: 1;
}

.container {
  max-width: 1472px;
  padding: 0 16px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1832px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  display: none;
}

.main {
  flex-grow: 1;
}

.section {
  margin-bottom: 50px;
}

.banner {
  width: 100%;
  border-radius: 0.625rem;
  margin-bottom: 25px;
}

.input {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-weight: 300;
  width: 100%;
  display: block;
  border: 0.0625rem solid #d8dbde;
  border-radius: 0.625rem;
  height: 3.25rem;
  background-color: #fff;
  margin-bottom: 16px;
}

.btn {
  font-weight: 600;
  color: #fff;
  background-color: #8db83f;
  transition: background-color 0.5s ease;
  min-height: 3rem;
  border-radius: 2rem;
  width: 100%;
  text-align: center;
}

.checkbox {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
}

.title {
  font-size: 1.75rem;
  line-height: 2.375rem;
  margin-bottom: 25px;
}

.main-banner .swiper-container {
  height: 100%;
}

.main-banner .swiper-wrapper {
  height: 100%;
  padding: 10px 0 35px;
}

.main-banner .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border-radius: 0.625rem !important;
}

.main-banner .swiper-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-banner .swiper-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.625rem;
}

.main-banner .swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: calc(25% + 0.25rem) !important;
  transform: translateX(-50%);
}

.main-banner .swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: calc(25% - 3.7rem) !important;
  transform: translateX(-50%);
}

.main-banner .swiper-button-next,
.swiper-button-prev {
  width: 64px !important;
  height: 64px !important;
  border-radius: 50%;
  background-color: rgb(0 0 0/0.8) !important;
}

.main-banner .swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.main-banner .swiper-button-next::before,
.swiper-button-prev::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  background-image: url('../asset/icons/prev-arrow.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-banner .swiper-button-next::before {
  transform: translate(-50%, -50%) scale(-1, 1);
}

.main-banner .swiper-slide-shadow-left.swiper-slide-shadow-coverflow {
  border-radius: 0.625rem;
}

.main-banner .swiper-slide-shadow-right.swiper-slide-shadow-coverflow {
  border-radius: 0.625rem;
}

.main-banner .swiper-pagination-bullet {
  width: 48px !important;
  height: 3px !important;
  border-radius: 0 !important;
  background-color: rgba(0, 0, 0, 0.75);
  transition: background-color 0.5s ease;
}

.main-banner .swiper-pagination-bullet.swiper-pagination-bullet-active,
.product-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: rgba(0, 0, 0, 1);
}

.product-slider .swiper-wrapper {
  padding-bottom: 40px;
}

.product-slider .swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.75);
  transition: background-color 0.5s ease;
}
