html,
body {
  height: 100%;
}

#__next {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  padding-top: 128px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  font-family: 'Onest', serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: #363a43;
  background-color: #fff;
}

.body {
  flex-grow: 1;
}

.container {
  max-width: 1472px;
  padding: 0 16px;
  margin: 0 auto;
}

.homepage-container__inner {
  display: flex;
  gap: 30px;
}

.homepage-container__content {
  max-width: 1140px;
  flex-shrink: 1;
  min-width: 0;
}

.filterbar {
  width: 100%;
  max-width: 300px;
  flex-shrink: 0;
}

.container-fluid {
  max-width: 1832px;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  display: none;
}

.main {
  flex-grow: 1;
}

.section {
  margin-bottom: 50px;
}

.banner {
  width: 100%;
  border-radius: 0.625rem;
  margin-bottom: 25px;
}

.input {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-weight: 300;
  width: 100%;
  display: block;
  border: 0.0625rem solid #d8dbde;
  border-radius: 0.625rem;
  height: 3.25rem;
  background-color: #fff;
  margin-bottom: 16px;
}

.btn {
  font-weight: 600;
  color: #fff;
  background-color: #8db83f;
  transition: background-color 0.5s ease;
  min-height: 3rem;
  border-radius: 2rem;
  width: 100%;
  text-align: center;
}

.checkbox {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  clip: rect(0 0 0 0);
}

.title {
  font-size: 1.75rem;
  line-height: 2.375rem;
  margin-bottom: 25px;
}

.product-slider {
  max-width: 100%;
  width: 100%;
}

.product-slider .swiper-wrapper {
  padding-bottom: 40px;
}

.product-slider .swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.75);
  transition: background-color 0.5s ease;
}

.contacts {
  padding-top: 30px;
}

.contacts__inner {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 50px;
  padding-top: 50px;
}

.profile {
  padding-top: 25px;
}

.profile__inner {
  display: flex;
  gap: 50px;
}

.profile__content {
  width: 100%;
  padding-top: 30px;
  position: relative;
}

.profile__title {
  font-size: 32px;
  margin-bottom: 20px;
}

.profile__link {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 15px;
  order: -1;
  padding-left: 17px;
}

.profile__link::before {
  content: '';
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  left: 0;
  top: 1px;
  background-image: url('../asset/icons/back-arrow.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.partner__link {
  display: block;
}

.partner__img {
  margin: 0 auto;
}

@media (max-width: 992px) {
  .homepage-container__inner .filterbar {
    display: none;
  }

  .section {
    margin-bottom: 25px;
  }

  .profile__inner {
    flex-wrap: wrap;
    gap: 15px;
  }

  .profile__title {
    font-size: 24px;
  }
}

@media (max-width: 860px) {
  .contacts {
    padding-top: 10px;
  }

  .contacts__inner {
    flex-wrap: wrap;
    justify-content: start;
    gap: 25px;
    padding-top: 10px;
  }

  .title {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    padding-top: 116px;
  }
}
