.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #fff;
  padding-bottom: 10px;
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}

.header.active {
  transform: translateY(0);
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: 20px 0;
}

.header__top * {
  flex-shrink: 0;
}

.header__btn,
.header__top-link {
  display: flex;
  align-items: center;
  justify-content: end;
  font-weight: 600;
  border-radius: 32px;
  padding: 0 16px;
  transition: background-color 0.5s ease;
  position: relative;
  min-height: 2.75rem;
  padding: 0 1.125rem;
  padding-left: 2.5rem;
  max-width: 190px;
  width: 100%;
}

.header__top-link {
  max-width: 180px;
  background-color: transparent;
}

.header__top-link::before,
.header__btn::before {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__top-link::before {
  width: 22px;
  height: 22px;
  background-image: url('../asset/icons/add-user.svg');
}

.header__btn::before {
  width: 20px;
  height: 20px;
  background-image: url('../asset/icons/user.png');
}

.header__top-link:hover {
  background-color: #f4f6f7;
}

.header__btn {
  color: #fff;
  background-color: #77ab1a;
}

.header__btn:hover {
  background-color: #8db83f;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 8px 0;
  font-weight: 500;
}

.header__link {
  padding-left: 26px;
  position: relative;
}

.header__link::before {
  content: '';
  position: absolute;
  display: block;
  width: 16px;
  height: 16px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__link.header__link--about::before {
  background-image: url('../asset/icons/about.svg');
}

.header__link.header__link--partners::before {
  background-image: url('../asset/icons/partner.svg');
}

.header__link.header__link--news::before {
  background-image: url('../asset/icons/news-icon.svg');
}

.header__link.header__link--contacts::before {
  background-image: url('../asset/icons/contact.svg');
}

.header__link.header__link--offers::before {
  background-image: url('../asset/icons/offers-icon.svg');
}
