.login-form {
  display: flex;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 6;
  height: 100dvh;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.login-form.active {
  opacity: 1;
  visibility: visible;
}

.login-form__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  border-radius: 1.125rem;
  overflow: hidden;
  max-width: 999px;
  width: 100%;
  overflow-y: auto;
}

.login-form__img {
  border-top-left-radius: 1.125rem;
  border-bottom-left-radius: 1.125rem;
  width: 100%;
  height: 399px;
  object-fit: contain;
}

.login-form__shape {
  border: 0.0625rem solid #e2e6eb;
  max-width: 400px;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 40px;
  overflow-y: auto;
}

.login-form__title {
  display: block;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.login-form__input {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  font-weight: 300;
  width: 100%;
  display: block;
  border: 0.0625rem solid #d8dbde;
  border-radius: 0.625rem;
  min-height: 48px;
  background-color: #fff;
  margin-bottom: 16px;
}

.login-form__btn {
  font-weight: 500;
  line-height: 1.25rem;
  text-decoration: underline;
  margin: 0 0 16px auto;
}

.login-form__button {
  font-weight: 600;
  color: #fff;
  background-color: #8db83f;
  margin-bottom: 16px;
  transition: background-color 0.5s ease;
}

.login-form__button:hover {
  background-color: #77ab1a;
}

.login-form__button,
.login-form__link {
  min-height: 3rem;
  border-radius: 2rem;
  width: 100%;
  text-align: center;
}

.login-form__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
  color: #444b5a;
  line-height: 1.25rem;
  font-weight: 500;
  border: 0.125rem solid #5d5f62;
  transition: background-color 0.25s ease-in-out, border-color 0.25s ease-in-out,
    color 0.25s ease-in-out;
}

.login-form__link:hover {
  background-color: #231f20;
  border-color: #231f20;
  color: #fff;
}

.login-form__shape.login-form__auth {
  position: absolute;
  right: -100%;
  top: 0;
  bottom: 0;
  transition: right 0.3s ease;
}

.login-form__shape.login-form__auth.active {
  right: 0;
}

.login-form__send {
  margin-bottom: 16px;
}

.login-form__send:hover {
  color: #fff;
}

.login-form__back {
  margin-left: auto;
  margin-top: auto;
  padding-left: 17px;
  position: relative;
}

.login-form__back::before {
  content: '';
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-image: url('../asset/icons/back-arrow.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 992px) {
  .login-form__inner {
    max-width: 400px;
  }

  .login-form__img {
    display: none;
  }

  .login-form__button:hover {
    background-color: #8db83f;
  }

  .login-form__link:hover {
    color: #444b5a;
    background-color: transparent;
    border-color: #5d5f62;
  }
}

@media (max-width: 560px) {
  .login-form__inner {
    bottom: 0;
    top: auto;
    transform: none;
    right: 0;
    left: 0;
    max-width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .login-form__inner form {
    max-width: 100%;
  }
}

@media (max-height: 480px) {
  .login-form__inner {
    bottom: 0;
    top: 70px;
    transform: none;
    right: 0;
    left: 0;
    max-width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .login-form__inner form {
    height: 100%;
    max-width: 100%;
  }

  .login-form__img {
    display: none;
  }
}

@media (max-width: 380px) {
  .login-form__shape {
    padding: 40px 25px;
  }
}
