.menu-burger {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 40;
  background: #00000054;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.menu-burger.active {
  opacity: 1;
  visibility: visible;
}

.menu-burger__inner {
  position: absolute;
  z-index: 45;
  top: 0;
  left: 0;
  bottom: 0;
  right: 60px;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.menu-burger.active .menu-burger__inner {
  transform: translateX(0);
}

.menu-burger__close {
  position: absolute;
  right: -40px;
  top: 20px;
}

.menu-burger__content {
  width: 100%;
  background: #fff;
  overflow: auto;
  padding: 24px 24px 36px 24px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.menu-burger__item {
  margin: 0 0 16px 0;
}

.menu-burger__link {
  border-bottom: 1px solid #EBEBEB;
  display: block;
  padding: 10px;
  font-weight: 700;
  position: relative;
}

.menu-burger__link--favourite,
.menu-burger__link--basket,
.menu-burger__link--profile {
  padding: 10px 10px 10px 30px;
}

.menu-burger__link--favourite::before,
.menu-burger__link--basket::before,
.menu-burger__link--profile::before {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  left: 0;
  top: 7px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.menu-burger__link--favourite::before {
  background-image: url('../asset/icons/favourite.svg');
}

.menu-burger__link--basket::before {
  background-image: url('../asset/icons/basket-black.svg');
}

.menu-burger__link--profile::before {
  background-image: url('../asset/icons/user.svg');
}

.menu-burger__elements {
  margin-bottom: 30px;
}

.menu-burger__linkage {
  padding: 10px 0;
}

.menu-burger__footer {
  margin-top: auto;
}

.menu-burger__email {
  margin-bottom: 15px;
}

.menu-burger__box {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.menu-burger__exit {
  color: indianred;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  padding-left: 30px;
}

.menu-burger__exit::before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: -1px;
  width: 20px;
  height: 20px;
  background-image: url('../asset/icons/exit.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


@media (min-width: 769px) {
  .menu-burger {
    display: none;
  }
}
