.news__box {
  display: flex;
  align-items: end;
  gap: 15px;
  margin-bottom: 25px;
}

.news__title.title {
  margin: 0;
}

.news__link {
  font-size: 14px;
  padding-bottom: 6px;
  text-decoration: underline;
  transition: color 0.5s ease;
}

.news__link:hover {
  color: #77ab1a;
}

.product-slider.news__slider {
  display: flex;
  gap: 24px;
}

.news__slider-link {
  flex-shrink: 0;
}

.news__slider-banner {
  object-fit: cover;
  border-radius: 1.5rem;
}