.partners__container {
  overflow-x: hidden;
}

.partners__list {
  display: flex;
  gap: 50px;
  animation: line-partners 30s linear 1s infinite;
}

@keyframes line-partners {
  
  0% {
    transform: translateX(90%);
    transform-origin: left center;
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(-200%);
    transform-origin: right center;
  }
}

.partners__item {
  flex-shrink: 0;
}
