.profile-organization {
  font-size: 16px;
}

.profile-organization__dl {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px 15px;
  margin-bottom: 16px;
}

.profile-organization__item {
  display: flex;
  gap: 5px;
}

.profile-organization__item dd {
  font-weight: 700;
}

.profile-organization__text {
  margin-bottom: 16px;
}

.profile-organization__inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;
  position: relative;
}

.profile-organization__titles {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.profile-organization__titles,
.profile-organization__user-items {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  border-radius: 10px;
  width: 100%;
}

.profile-organization__user-items {
  border-radius: 10px;
  background: #ffff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.profile-organization__user-items:not(:last-child) {
  margin-bottom: 16px;
}

.profile-organization__users {
  width: 100%;
}

.profile-organization__titles {
  color: #fff;
  background-color: #333;
  margin-bottom: 16px;
}

.profile-organization__title,
.profile-organization__user-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.profile-organization__title,
.profile-organization__user-item {
  font-size: 14px;
  padding: 15px;
}

.profile-organization__title:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.profile-organization__user-item:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.profile-organization__add {
  min-height: 2.5rem;
  max-width: 200px;
  font-size: 14px;
  margin-left: auto;
}

.profile-organization__poppup {
  display: flex;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 6;
  height: 100dvh;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}

.profile-organization__poppup.active {
  opacity: 1;
  visibility: visible;
}

.profile-organization__poppup-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 1.125rem;
  max-width: 940px;
  width: 100%;
  background-color: #fff;
  padding: 40px;
  max-width: 400px;
  overflow-y: auto;
}

.profile-organization__poppup-title {
  display: block;
  font-size: 24px;
  margin-bottom: 24px;
}

.profile-organization__poppup-text {
  text-align: left;
  display: block;
  margin-bottom: 5px;
}

.profile-organization__poppup-select {
  appearance: none;
  cursor: pointer;
}

@media (max-width: 992px) {
  .profile-organization__users-info {
    padding: 10px 20px 20px 5px;
    overflow-x: auto;
  }

  .profile-organization__inner::after {
    right: -6px;
    left: auto;
    top: 0;
  }

  .profile-organization__titles,
  .profile-organization__user-items {
    min-width: 992px;
  }

  .profile-organization__add {
    margin-right: 5px;
  }
}

@media (max-width: 560px) {
  .profile-organization__poppup-inner {
    bottom: 0;
    top: auto;
    transform: none;
    right: 0;
    left: 0;
    max-width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    max-width: 100%;
  }
}

@media (max-height: 480px) {
  .profile-organization__poppup-inner {
    bottom: 0;
    top: 70px;
    transform: none;
    right: 0;
    left: 0;
    max-width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    max-width: 100%;
  }
}

@media (max-width: 380px) {
  .profile-organization__poppup-inner {
    padding: 40px 25px;
  }
}
