.social-join {
  max-width: 250px;
}

.social-join__title {
  display: block;
  font-size: 18px;
  margin-bottom: 20px;
}

.social-join__list {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

@media (max-width: 680px) {
  .social-join {
    max-width: 100%;
  }
}
