.social-join {
  max-width: 300px;
}

.social-join__title {
  display: block;
  font-size: 20px;
  margin-bottom: 20px;
}

.social-join__list {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .social-join {
    max-width: 600px;
  }
}

@media (max-width: 580px) {
  .social-join__list {
    justify-content: start;
  }
}